.movie-card-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    align-items: center;
    gap: 20px 38px;
    margin-top: 70px;
    padding-bottom: 10px;
}


.movie-card-list__next-movies {
    min-height: 140px;
    padding-top: 50px;
}

.movie-card-list__next-movies-button {
    margin-top: 50px;
    width: 1140px;
    height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    padding: 0;
    margin-bottom: 80px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.movie-card-list__next-movies-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .movie-card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px 24px;
        padding-bottom: 30px;
    }

    .movie-card-list__next-movies-button {
        width: 708px;
    }
}

@media screen and (max-width: 500px) {
    .movie-card-list {
        padding-top: 40px;
    }

    .movie-card-list {
        grid-template-columns: 1fr;
        gap: 16px;
        margin: 0 -4px;
    }

    .movie-card-list__next-movies-button {
        width: 75vw;
    }
}