.movie-card-list {
    padding: 70px 70px 0 70px;
    text-align: center;
}

.movie-card-list__movies {
    display: grid;
    grid-template-columns: repeat(3, 364px);
    gap: 32px 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.movie-card-list__open-next-movies {
    box-sizing: border-box;
    min-height: 140px;
    padding-top: 50px;
}

.movie-card-list__not-found-movies {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.movie-card-list__open-next-movies-button {
    width: 25vw;
    height: 36px;
    background-color: #2F2F2F;
    border-radius: 6px;
    border: none;
    padding: 0;
    margin-bottom: 80px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.movie-card-list__open-next-movies-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .movie-card-list {
        padding: 70px 30px 0 30px;
        text-align: center;
    }

    .movie-card-list__movies {
        grid-template-columns: repeat(2, 339px);
        gap: 35px 24px;
        padding-bottom: 30px;
    }

    .movie-card-list__open-next-movies-button {
        width: 42vw;
    }
}

@media screen and (min-width: 230px) and (max-width: 767px) {
    .movie-card-list {
        padding: 10px 10px 0 10px;
        text-align: center;
    }

    .movie-card-list {
        padding-top: 40px;
    }

    .movie-card-list__movies {
        grid-template-columns: 300px;
        gap: 16px;
        margin: 0 -4px;
    }

    .movie-card-list__open-next-movies-button {
        width: 75vw;
    }
}