.movie-card {
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-radius: 6px;
}

.movie-card__info {
    padding-top: 14px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.movie-card__title {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.movie-card__length {
    margin: 0;
    padding-top: 6px;
    color: #A0A0A0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}

.movie-card__image {
    object-fit: cover;
    width: 364px;
    height: 203px;
}

.movie-card__like {
    width: 24px;
    height: 24px;
    background: url(../../images/like.svg);
    background-repeat: no-repeat;
    border: none;
}

.movie-card__like_active {
    background: url('../../images/like-active.png') center no-repeat;
}

.movie-card__button-save_delete {
    background: url('../../images/movie-card__button-delete-icon.svg') #313131 center no-repeat;
}

@media screen and (max-width: 768px) {
    .movie-card {
        height: 309px;
    }

    .movie-card__image {
        width: 339px;
        height: 190px;
    }
    
}

@media screen and (max-width: 320px) {
    .movie-card {
        padding: 14px 0;
        height: 271px;
    }

    .movie-card__info {
        padding: 0 14px 14px;
    }

    .movie-card__title {
        font-size: 12px;
        line-height: 1.5;
    }
    
    .movie-card__length {
        margin-left: 22px;
        font-size: 10px;
        line-height: 1.8;
    }

    .movie-card__image {
        height: 262px;
    }

    .movie-card__button-save {
        margin-top: 14px;
    }
}