.profile {
    height: calc(100vh - 74px);
    padding: 0 70px 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    padding: 74px 0 123px;
}

.profile__info {
    list-style: none;
    padding: 0 0 220px;
    margin: 0;
    display: inline-block;
    min-width: 410px;
    text-align: center;
}

.profile__info-item {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
}

.profile__info-description {
    font-weight: 500;
}

.profile__info-item:first-child {
    border-bottom: solid 1px #424242;
    padding-bottom: 17px;
    margin-bottom: 17px;
}

.profile__button-edit {
    font-size: 13px;
    line-height: 1.2;
    border: none;
    background: none;
    padding: 0;
    font-weight: 400;
    padding-bottom: 17px;
}

.profile__link-out-login {
    font-weight: 500;
    color: #EE3465;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {

    .profile__title {
        padding: 236px 0 96px;
    }

    .profile__info {
        padding-bottom: 210px;
        min-width: 54vw;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding-bottom: 40px;
    }

    .profile__title {
        padding: 70px 0 80px;
    }

    .profile__info {
        min-width: 81vw;
    }
}