.profile {
    height: calc(100vh - 74px);
    color: #fff;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    padding: 74px 0 123px;
}

.profile__info {
    list-style: none;
    margin: 0 0 auto;
    display: inline-block;
    min-width: 410px;
    text-align: center;
}

.profile__info-label {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    width: 100%;
    position: relative;
}

.profile__info-label:first-child {
    border-bottom: solid 1px #424242;
    padding-bottom: 17px;
    margin-bottom: 17px;
}

.profile__info-input {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 0 0 0 30px;
    text-align: right;
    flex-grow: 1;
}

.profile__info-input:focus+.profile__info-input-decoration {
    position: absolute;
    left: 0;
    border: solid 1px rgba(170, 170, 170, .2);
    width: 100%;
    height: 22px;
    box-sizing: border-box;
}

.profile__input-error {
    color: #EE3465;
}

.profile__message-error {
    padding-top: 25px;
}

.profile__message-update-done {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    transition: opacity .3s;
    opacity: 0;
}

.profile__message-update-done-visible {
    opacity: 1;
}

.profile__button-edit {
    font-size: 13px;
    line-height: 1.2;
    border: none;
    background: none;
    padding: 0;
    font-weight: 400;
    color: #fff;
    padding-bottom: 17px;
}

.profile__button-edit:disabled {
    cursor: auto;
    opacity: .6;
}

.profile__link-out-login {
    font-weight: 500;
    color: #EE3465;
    font-size: 13px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {

    .profile__title {
        padding: 60px 0 96px;
        margin-top: auto;
    }

    .profile__info {
        min-width: 54vw;
    }

}

@media screen and (max-width: 320px) {
    .profile {
        padding-bottom: 40px;
    }

    .profile__title {
        padding: 30px 0 80px;
    }

    .profile__info {
        min-width: 81vw;
    }

}