.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__links {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav__links-item {
  padding: 0;
  margin: 0 0 0 16px;
}

.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}

.nav__link:hover {
  opacity: 0.8;
}

.nav__link_main {
  display: none;
}

.nav__link_saved-movies {
  font-weight: 400;
}

.nav__link_profile {
  font-size: 14px;
  line-height: 16px;
  justify-self: end;
  padding-right: 43px;
  position: relative;
}

.nav__link_profile::after {
  position: absolute;
  display: block;
  content: url(../../images/person-icon.svg);
  bottom: -7px;
  right: 0;
  width: 26px;
  height: 30px;
  background-color: #313131;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .nav {
    display: none;
  }

}