@keyframes background-opacity {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}

.filter-checkbox {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 41px;
}

.filter-checkbox__text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    padding-right: 14px;
    margin: 0;
}

.filter-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.filter-checkbox__span {
    display: block;
    width: 36px;
    height: 20px;
    background: url(../../images/filter-checkbox-off.svg) no-repeat;
    opacity: .8;
}

.filter-checkbox__input:checked+.filter-checkbox__span {
    background: url(../../images/filter-checkbox.svg) no-repeat;
    animation: background-opacity .8s;
}

.filter-checkbox__input:focus+.filter-checkbox__span {
    border-radius: 50px;
    outline: auto;
}

@media screen and (max-width: 768px) {
    .filter-checkbox {
        padding: 38px 0 0;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .filter-checkbox {
        padding: 45px 0 0;
    }

    .filter-checkbox__text {
        font-size: 11px;
        line-height: 1.63;
        padding-right: 13px;
    }
}