.footer {
    box-sizing: border-box;
    min-height: 172px;
    color: #fff;
    padding: 79px 0 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__description {
    margin: 0;
    text-align: center;
    border-bottom: solid 1px #424242;
    padding-bottom: 19px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #8B8B8B;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer__copyright {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
}

.footer__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 20px;
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 79px 0 10px;
        margin: 0 -4px;
    }

    .footer__description {
        font-size: 12px;
        padding-bottom: 22px;
    }

    .footer__container {
        flex-direction: column-reverse;
        padding-top: 18px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        padding: 12px 0 0;
        font-size: 12px;
    }

    .footer__copyright {
        padding-top: 30px;
        font-size: 12px;
        color: #8B8B8B;
    }
}