.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 27vh;
}

.not-found-page__title {
    margin: 0;
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2;
}

.not-found-page__description {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.not-found-page__link-to-back {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #4285F4;
    background: none;
    border: none;
    padding: 184px 0 0;
}

@media screen and (max-width: 768px) {
    .not-found-page {
        padding-top: 18vh;
    }
}

@media screen and (max-width: 320px) {
    .not-found-page {
        padding-top: 42vh;
    }

    .not-found-page__title {
        font-size: 80px;
    }

    .not-found-page__description {
        padding-top: 10px;
        font-size: 12px;
    }

    .not-found-page__link-to-back {
        font-size: 12px;
        padding: 0 0 30px;
        margin-top: auto;
    }
}